<!DOCTYPE html>
<html>
  <head>
    <title>Tareas Pendientes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Tareas Pendientes</a></li>
          <li><a href="#">Cosas Que Comprar</a></li>          
        </ul>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>
