<div class="container">
  <h1>Tareas Pendientes:</h1>

  <br>

  <form method="post" action="/tareas/add/">
    <input id="inpDescripcion" type="text" name="descripcion" placeholder="Ingrese aquí una tarea">
    <input type="submit" name="agregar" value="Agregar" hidden>
  </form>

  <br>

  <table style="width:100%">

    <thead>
      <tr>
        <th class="columna_fecha">Fecha:</th>
        <th>Descripción:</th>
        <th class="columna_acciones">Acciones:</th>
      </tr>
    </thead>
    <tbody>
      {{#each tareas}}
        <tr>
          <td>{{this.fecha}}</td>
          <td>{{this.descripcion}}</td>
          <td>
            <form action="/tareas/delete/{{this._id}}" method="post" class="form_actions">
              <input type="submit" name="Eliminar" value="Eliminar" class="boton">
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</div>
