<div class="container">
  <h1>Tareas Pendientes:</h1>
  <form>
    <input type="text" name="tarea" placeholder="Ingrese aquí una tarea">
    <input type="submit" name="agregar" value="Agregar">
  </form>
</div>
